@use 'src/styles/variables.scss' as *;

.wrapper {
  max-width: 1080px;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-content: center;
  @include mq(sm) {
    grid-gap: 32px;
  }
}
