@use 'src/styles/variables.scss' as *;

.wrapper {
  width: 320px;
  height: 320px;
  overflow: hidden;
  border: 4px solid var(--white-color);
  border-radius: 50%;
  @include mq(sm) {
    width: 200px;
    height: 200px;
  }
  img {
    width: 320px;
    object-fit: cover;
    @include mq(sm) {
      width: 200px;
    }
  }
}
